.class_name [data-name="name"] {width: 300px !important;max-width: 300px !important;}
            [data-name="fld_code_nation"] {width: 110px !important;max-width: 110px !important;}
            [data-name="fld_age"] {width: 40px !important;max-width: 40px !important;}
            [data-name="fld_persone_id"] {width: 300px !important;max-width: 400px !important;}
            [data-name="fld_houseband"] {width: 300px !important;max-width: 400px !important;}


